RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ crawler.php?path=$1 [L,QSA]

# Fügt "index.php" zum Pfad hinzu, wenn das Stammverzeichnis angefordert wird
RewriteRule ^$ crawler.php?path=index.php [L,QSA]
